<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "./static/homeStyle.css">
    <title>Document</title>
</head>
<body>
    <div class="name">
        SUCCEED
      </div>

      <div class="desription_div">
        <p class="topic">Insights for </p>
        <p class="topic_s">Career Success!</p>
        <p class="small_des">Immerse yourself in a world of possibilities with dynamic vocational training options post-O/L. These hands-on programs offer practical experiences, honing your skills and preparing you for a diverse array of rewarding career opportunities in various industries.</p>

        <a class="see_more" href="/index"> See More</a>
      </div>
    <div class="gradient"></div>
</body>
</html>