<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "./static/homeStyle.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <div class="left">
                <li><p class="name">SUCCEED</p></li>
               <li><a href="/about">About Us</a></li>
               <li><a href="/contact">Contact</a></li>
            </div>
            <div class="right">
              <li><a class="login" href="/login">Log In</a></li>
              <li><a class="signup" href="/signup">Sign Up</a></li>
         </div>
        </ul>
    </nav>

    <div class="desription_div">
        <p class="topic">Insights for </p>
        <p class="topic_s">Career Success!</p>
        <p class="small_des">Immerse yourself in a world of possibilities with dynamic vocational training options post-O/L. These hands-on programs offer practical experiences, honing your skills and preparing you for a diverse array of rewarding career opportunities in various industries.</p>

        <a class="see_more" href="/index"> Find your path</a>
    </div>
    <div class="gradient"></div>
</body>
</html>
